# dependencias
node_modules/

# builds
dist/
build/

# variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# archivos del sistema
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/

# coverage
coverage/

# archivos temporales
*.tmp
*.temp

# vite
.vite/

# sistema operativo
desktop.ini