.crear-pedido {
  color: rgb(0, 0, 0);
}

.card {
  background-color: #1e1e2f;
  border: none;
  border-radius: 10px;
}

.form-control,
.form-select {
  background-color: #2a2a3d;
  border: none;
  color: white;
}

.form-control::placeholder {
  color: #aaa;
}

.form-label {
  color: #ccc;
}